@model IEnumerable<DEMO_PROJECT_C2108G3_Delivery.Models.Tracking>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    @await Component.InvokeAsync("SelectBoxPostalService", new {cssClass = "form-control"});
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNguoiSua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayXoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNguoiSua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDelete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayXoa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
